body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f1f7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  flex: 1; /* Ensures content grows and pushes the logout button down */
}

.welcome-header {
  font-family: 'Lobster', sans-serif;
  font-size: 36px;
  background: linear-gradient(135deg, #BFECFF, #CDC1FF, #FFF6E3, #FFCCEA);
  margin-bottom: 30px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 60%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #FFDAF5;
  border: 1px solid #ddd;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #CDC1FF;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #E6F7FF;
}

.logout-button {
  display: block;
  margin: 20px auto;
  background: linear-gradient(135deg, #BFECFF, #CDC1FF, #FFF6E3, #FFCCEA);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  padding: 20px;
}